.container {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
}

.topSection {
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin: 1rem;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.chat {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.chat p {
  font-family: Inter;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  flex: 1;
}

.chat > input {
  font-family: Inter;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  min-width: 70px;
  background: transparent;
  border: none;
  flex: 1;
  display: block;
}

.chat > span > svg {
  font-size: 16px;
  cursor: pointer;
}

.chat > span:nth-child(3) > svg {
  margin-left: auto;
}

.bottomSection {
  margin-top: auto;
}

.bottomSection > a,
.bottomSection > div {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: Inter;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: var(--grey);
  width: 100%;
  margin-bottom: 14px;
  text-decoration: none;
}
