.container {
  position: relative;
  box-sizing: border-box;
}

.container > div:nth-child(2) {
  position: absolute;
  top: 110%;
  min-width: 150px;
  max-width: 250px;
  min-height: 30px;
  font-family: Inter;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  background: var(--white);
  border-radius: 4px;
  border-width: 1px;
  border-color: var(--solidBorder);
  border-style: solid;
  box-shadow: 0px 17px 35px #171a1f, 0px 0px 2px #171a1f;
  padding: 0.25rem 1rem;
  box-sizing: border-box;
  display: none;
  z-index: 3;
}

.container:hover div:nth-child(2) {
  animation-name: appear;
  animation-duration: 0.3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  display: block;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
