.container {
  height: 82px;
  border-radius: 4px;
  box-shadow: none;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.container > img {
  height: 100%;
}

.department {
  font-family: Inter;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  margin-left: auto;
  padding: 9px 53px;
}

.account {
  font-family: Inter;
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    height: 62px;
    padding: 12px;
    box-shadow: none;
  }

  .container > img {
    width: 180px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: 62px;
    padding: 12px;
    box-shadow: none;
  }

  .container > img {
    width: 180px;
  }
}
