.container {
  height: 82px;
  border-radius: 4px;
  box-shadow: none;
  padding: 12px;
}

.container > img {
  height: 100%;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    height: 62px;
    padding: 12px;
    box-shadow: none;
  }

  .container > img {
    width: 180px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: 62px;
    padding: 12px;
    box-shadow: none;
  }

  .container > img {
    width: 180px;
  }
}
